#{extends 'main.html' /}
#{set title:'Editar Dados Pessoais' /}

<h1 style="text-align: center">Editar Dados Pessoais <img alt="" src="/public/images/icon-edicao.png" style="width: 40px;"></h1>
<meta charset="UTF-8">
<link href="/public/stylesheets/editar.css" rel="stylesheet" />
	<!-- <form action="@{Pacientes.editar}" method="post" class="edit">
		<input type="hidden" name="paciente.id" value="${paciente?.id}">
		Nome Completo: <input type="text" name="paciente.nome" value="${paciente?.nome}" required><br>
		CPF: <input type="text" name="paciente.cpf" value="${paciente?.cpf}" required><br>
		Data de Nascimento: <input type="text" name="paciente.dataNasc" placeholder="dd/mm/aaaa" value="${paciente?.dataNasc?.format("dd/MM/yyyy")}" required><br>
		Nome da Mãe: <input type="text" name="paciente.nomeMae" value="${paciente?.nomeMae}" required><br>
		Email: <input type="text" name="paciente.email" value="${paciente?.email}" required><br>
		Telefone: <input type="text" name="paciente.telefone" value="${paciente?.telefone}" required><br>
		Endereço: <input type="text" name="paciente.endereco" value="${paciente?.endereco}" required><br>
		<input id="input_cad" type="submit" value="Salvar Alterações">
		
	</form>
	<br> -->
	
	<form action="@{Pacientes.editar}" method="post" enctype="multipart/form-data" class="edit">
		<input type="hidden" name="paciente.id" value="${paciente?.id}">
		Nome: <input type="text" name="paciente.nome" value="${paciente?.nome}"><br>
		CPF: <input oninput="mascara(this, 'cpf')" type="text" name="paciente.cpf" value="${paciente?.cpf}"><br>
		Data de Nascimento: <input oninput="mascara(this, 'data')" type="text" name="paciente.dataNasc" placeholder="dd/mm/aaaa" value="${paciente?.dataNasc}"><br>
		Nome da Mãe: <input type="text" name="paciente.nomeMae" value="${paciente?.nomeMae}"><br>
		Email: <input type="text" name="paciente.email" placeholder="nome@exemplo.com" value="${paciente?.email}"><br>
		Telefone: <input oninput="mascara(this, 'tel')" type="text" name="paciente.telefone" value="${paciente?.telefone}"><br>
		Dia para Vacina (Preferência): <br>
			<select name="paciente.agenda.id" value="${paciente?.agenda}">
				<option value="">---</option>
					#{list items:agendas, as: 'agenda'}
						<option value="${agenda.id}" #{if agenda.id == paciente?.agenda?.id} selected #{/if}>${agenda.diaSemana}</option>
					#{/list}
			</select>
		<br>
		Foto do Paciente: <input type="file" name="paciente.foto" value="${paciente?.foto}">
		Endereço: <input type="text" name="paciente.endereco" value="${paciente?.endereco}">
		Senha: <input type="password" name="paciente.senha" value="${paciente?.senha}"><br><br>
		<input id="input_cad" type="submit" value="Salvar Alterações">	
	</form>   
	<br>
	
<script>
function mascara(i,t){
	   
	   var v = i.value;
	   
	   if(isNaN(v[v.length-1])){
	      i.value = v.substring(0, v.length-1);
	      return;
	   }
	   
	   if(t == "data"){
	      i.setAttribute("maxlength", "10");
	      if (v.length == 2 || v.length == 5) i.value += "/";
	   }
 if(t == "cpf"){
	      i.setAttribute("maxlength", "14");
	      if (v.length == 3 || v.length == 7) i.value += ".";
	      if (v.length == 11) i.value += "-";
	   }

	   if(t === "tel"){
		   if (v.length === 1) i.value = "(" + i.value;
		   if (v.length === 3) i.value += ") ";
		   if(v[5] == 9){
		      i.setAttribute("maxlength", "15");
		      if (v.length === 10) i.value += "-";
}else{
		      i.setAttribute("maxlength", "14");
		      if (v.length === 9) i.value += "-";
		   }
	   }
	}
</script>